<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>aptron</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet" integrity="...">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="..." crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="..." crossorigin="anonymous"></script>

<meta charset="ISO-8859-1">
<title>aptron</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='http://fonts.googleapis.com/css?family=Crete+Round'
	rel='stylesheet' type='text/css'>
<!-- Bootstrap Icons stylesheet -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" th:href="@{/index}" id="institue-name"><img
			alt="" src="/img/logo.png"></a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/index}"><i
						class="bi bi-house-door-fill"></i>Home </a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/teachers}">Teacher
						Management</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/subscribers}">Subscribers </a></li>

			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Students</h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">
					New +</a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>course</th>
					<th>Join</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="student: ${students}">
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.email}"></td>
					<td th:text="${student.mobile}"></td>
					<td th:text="${student.course}"></td>
					<td th:text="${student.createdOn}"></td>
					<td><a th:href="@{/students/edit/{id}(id=${student.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/students/{id}(id=${student.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>

		</table>
<br><br><br><br><br><br><br>
	</div>
	
	<div class="container">
		<hr>
		<footer class="py-5">
			<div class="row">
				<div class="col-2">
					<h5>Menu</h5>
					<ul class="nav flex-column">
						<li class="nav-item mb-2"><a th:href="@{/index}"
							class="nav-link p-0 text-muted">Home</a></li>
						<li class="nav-item mb-2"><a th:href="@{@{/students/new}}"
							class="nav-link p-0 text-muted">Student</a></li>
						<li class="nav-item mb-2"><a href="#"
							onclick="checkPassword();" class="nav-link p-0 text-muted">Admin</a></li>
						<li class="nav-item mb-2"><a th:href="@{/faq}"
							class="nav-link p-0 text-muted">FAQs</a></li>
						<li class="nav-item mb-2"><a th:href="@{/about}"
							class="nav-link p-0 text-muted">About</a></li>
					</ul>
				</div>
				<div class="col-2"></div>
				<div class="col-2"></div>


				<div class="col-4 offset-1">
					<form>
						<h5>Subscribe to our institue</h5>
						<p>Monthly digest of whats new and exciting from us.</p>
						<div class="d-flex w-100 gap-2">
							<label for="newsletter1" class="visually-hidden">Email
								address</label> <input id="newsletter1" name="subEmail" type="email"
								class="form-control" placeholder="Email address"
								required="required">
							<button class="btn btn-primary" type="button" id="subscribe">Subscribe</button>
						</div>
					</form>
				</div>
			</div>

			<div class="d-flex justify-content-between py-4 my-4 border-top">
				<p>&copy; 2023 Aptron, Inc. All rights reserved.</p>
				<ul class="list-unstyled d-flex">
					<li class="ms-3"><a class="link-dark" href="#"><svg
								class="bi" width="24" height="24">
								<use xlink:href="#twitter" /></svg></a></li>
					<li class="ms-3"><a class="link-dark" href="#"><svg
								class="bi" width="24" height="24">
								<use xlink:href="#instagram" /></svg></a></li>
					<li class="ms-3"><a class="link-dark" href="#"><svg
								class="bi" width="24" height="24">
								<use xlink:href="#facebook" /></svg></a></li>
				</ul>
			</div>
		</footer>
	</div>
	
		<script>
		$(document)
				.ready(
						function() {
							$("#subscribe")
									.click(
											function() {
												var emailInput = $("#newsletter1");
												if (emailInput.val() === "") {
													emailInput.focus();
												} else {

													// AJAX POST request
													$
															.ajax({
																type : "POST",
																url : "/subscribe",
																data : {
																	email : emailInput
																			.val()
																},
																success : function(
																		response) {
																	if (response.success) {
																		// Subscription successful
																		alert("Thank you for subscribing!");

																	} else {
																		// Subscription failed
																		alert("You Allredy Subscribed !");
																	}
																},
																error : function() {
																	alert("Error occurred while processing your request.");
																}
															});
												}
											});
						});
	</script>
</body>
</html>